<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>distributionID</key>
	<string>your_distribution_id</string>
	<key>devToken</key>
	<string>your_distribution_development_secret</string>
	<key>prodToken</key>
	<string>your_distribution_production_secret</string>
	<key>timeout</key>
	<integer>10</integer>
</dict>
</plist>
